/**
    * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
    * Richard Clark (http://richclarkdesign.com)
    * http://cssreset.com
    */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

nav ul,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
/* change colours to suit your needs */
ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}
/* change colours to suit your needs */
mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* change border colour to suit your needs */
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

input,select {
	vertical-align: middle;
}

div,img,div:before,img:before,div:after,img:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-user-drag: none;
	/* Prevents dragging of images/divs etc */
	user-drag: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}
/*
Tiny (24pt)
Small (30pt)
Medium (34pt)
Large (38pt)
*/
html {
	font-size: 10px;
	font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

html,body {
	height: 100%;
	min-height: 100%;
}

body {
	margin: 0px auto;
	background-color: transparent;
	/* url('@{imgpath}/bgtop.png') center top repeat-x; */
}

.ui-page {
	background-color: #000000;
}

.ui-popup {
	top: 3rem !important;
	width: 80%;
	border: 0.3rem solid #33b5e5;
}

.ui-popup .ui-popup-header {
	background-color: #002136;
	color: #ffffff;
	font-size: 2.5rem;
	line-height: 4rem;
}

.ui-popup .ui-popup-content {
	padding: 3rem 1.6rem;
	background: url('../images/background.png') 0 0 repeat;
	background-size: contain;
	color: #ffffff;
	text-align: center;
	font-size: 3rem;
	line-height: 4rem;
}

.ui-popup .ui-btn {
	background-color: #002136;
}

.ui-loading {
	padding-top: 6rem;
}

.ui-loading .ui-processing {
	background-color: #06598c;
}

.ui-loading .ui-processing-text {
	color: #06598c;
	font-size: 2rem;
	padding: 0 1.6rem;
	width: 100% !important;
}

.ui-error .ui-subheader {
	width: 100%;
	height: 7rem;
	background-color: #002136;
}

.ui-error .ui-subheader .ui-subheader-text {
	position: absolute;
	display: table-cell;
	vertical-align: middle;
	top: -1rem;
	margin-top: 7rem;
	line-height: 7rem;
	min-height: 7rem;
	font-size: 2.5rem;
	font-weight: bold;
	padding-left: 1.6rem;
	padding-right: .8rem;
}

.ui-error .ui-subheader .separator {
	position: absolute;
	width: 100%;
	height: .3rem;
	margin-top: 7rem;
	background-color: #33b5e5;
}

.ui-error .ui-error-title {
	margin: 0 auto;
	color: #06598c;
	font-size: 3rem;
	font-weight: bold;
	padding-top: 2rem;
	text-transform: uppercase;
	text-align: center;
}

.ui-error .ui-error-text {
	margin: 2rem auto;
	color: #06598c;
	font-size: 2rem;
	line-height: 3rem;
	padding: 0 1.6rem;
	text-align: center;
}

.ui-error .ui-error-btn {
	width: 95%;
	margin: 0 auto;
}

.ui-btn {
	color: #ffffff;
	font-size: 3rem;
	background-color: #002136;
	border: 0px transparent !important;
	text-transform: uppercase;
}

.ui-btn .ui-btn-icon {
	background-size: auto;
}

.ui-btn:enabled:active:hover {
	background-color: #06598c;
}

.ui-btn:active {
	-webkit-transform: scale(0.95);
	transform: scale(0.95);
}

.ui-btn:disabled {
	transform: scale(1);
}
/**********************************/
/**************HEADER**************/
/**********************************/
.ui-header {
	max-height: 6rem;
	min-height: 6rem;
	background-color: #ffffff;
	color: #06598c;
}

.ui-header .ui-grid-col-3 {
	width: 100%;
	height: 100%;
}

.ui-header .ui-grid-col-3 .emt-header-left {
	padding-left: 1.6rem;
	height: 100%;
}

.ui-header .ui-grid-col-3 .emt-header-left .title-time {
	font-size: 3rem !important;
	font-weight: bold;
}

.ui-header .ui-grid-col-3 .emt-header-center {
	text-align: center;
	height: 100%;
}

.ui-header .ui-grid-col-3 .emt-header-center .emt-header-center-icon {
	position: absolute;
	height: 10rem;
	width: 12rem;
	top: -1rem;
	background-color: #ffffff;
	border-radius: 10rem;
}

.ui-header .ui-grid-col-3 .emt-header-center .emt-header-center-icon img
	{
	position: relative;
	top: 2rem;
}

.ui-header .ui-grid-col-3 .emt-header-center img {
	position: relative;
	top: 1rem;
}

.ui-header .ui-grid-col-3 .emt-header-center #home-title-icon {
	height: 6rem;
}

.ui-header .ui-grid-col-3 .emt-header-center #stops-title-logo,.ui-header .ui-grid-col-3 .emt-header-center #nearme-title-logo,.ui-header .ui-grid-col-3 .emt-header-center #search-title-logo,.ui-header .ui-grid-col-3 .emt-header-center #arriveDetails-title-logo
	{
	height: 2.5rem;
}

.ui-header .ui-grid-col-3 .emt-header-right {
	padding-right: .8rem;
	height: 100%;
}

.ui-header .ui-grid-col-3 .emt-header-right .title-date {
	font-size: 1.8rem !important;
	float: right;
}

.ui-subheader {
	width: 100%;
	height: 7rem;
	background-color: #002136;
}

.ui-subheader .ui-subheader-text {
	position: absolute;
	display: table-cell;
	vertical-align: middle;
	top: -1rem;
	margin-top: 7rem;
	line-height: 7rem;
	min-height: 7rem;
	font-size: 2.5rem;
	font-weight: bold;
	padding-left: 1.6rem;
	padding-right: .8rem;
}

.ui-subheader .separator {
	position: absolute;
	width: 100%;
	height: .3rem;
	margin-top: 7rem;
	background-color: #33b5e5;
}

.ui-content {
	background-color: #ffffff;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	background-color: #ffffff;
}

.contents .content-padding {
	padding-left: 1.6rem;
	padding-right: .8rem;
}

.contents .content_text {
	font-weight: bold;
	font-size: 5em;
}

.ui-footer .ui-btn {
	text-transform: uppercase;
}

.ui-footer .ui-btn:active {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.ui-footer .ui-btn:enabled:active:hover {
	background-color: #33b5e5;
}

#main-page .ui-content {
	background: url('../images/background.png') 0 0 repeat;
	background-size: contain;
}

#main-page .ui-content .ui-grid-col-2 {
	height: 100%;
	width: 100%;
	padding-top: 3rem;
}

#main-page .ui-content .ui-grid-col-2 .ui-btn {
	background-color: transparent;
}

#main-page .ui-content .ui-grid-col-2 .ui-btn.ui-btn-icon {
	height: 20rem;
}

#main-page .ui-content .ui-grid-col-2 .ui-btn-text {
	font-size: 3rem;
	text-align: center;
}

#main-page .ui-content #emt-navi-stops.disabled {
	color: #89b5d1;
}

#main-page .ui-content #emt-navi-stops #emt-navi-stops-btn {
	background-image: url('../images/stops_btn.png');
}

#main-page .ui-content #emt-navi-stops #emt-navi-stops-btn.disabled {
	background-image: url('../images/stops_disabled_btn.png');
}

#main-page .ui-content #emt-navi-arrives #emt-navi-arrives-btn {
	background-image: url('../images/time_btn.png');
}

#stops-page .ui-content ul.ui-listview {
	margin-bottom: 7rem;
}

#stops-page .ui-content ul.ui-listview li {
	width: 100%;
	height: 10rem;
	position: relative;
	padding: 0;
	border-bottom: 0.2rem solid #555555;
	white-space: normal;
	word-wrap: break-word;
}

#stops-page .ui-content ul.ui-listview li.ui-li-active {
	background-color: #ebebeb;
}

#stops-page .ui-content ul.ui-listview li.disabled,#stops-page .ui-content ul.ui-listview li.disabled>*
	{
	background-color: #757575;
}

#stops-page .ui-content ul.ui-listview li label {
	display: block;
	height: 10rem;
	color: #06598c;
	font-size: 2rem;
	padding-left: 8rem;
	padding-right: .8rem;
	white-space: normal;
}

#stops-page .ui-content ul.ui-listview li label input[type="radio"] {
	position: absolute;
	margin-left: -6.5rem;
	margin-top: 2rem;
	background-color: #ffffff;
}

#stops-page .ui-content ul.ui-listview li label input[type="radio"]:disabled
	{
	background-color: #757575;
}

#stops-page .ui-content ul.ui-listview li label input[type=radio]:checked::before
	{
	background-color: #33b5e5;
}

#stops-page .ui-content ul.ui-listview li label span {
	display: table-cell;
	height: 10rem;
	vertical-align: middle;
	white-space: normal;
}

#nearme-page .ui-subheader #nearme-navi-search {
	background: url('../images/search_header_btn.png') center center
		no-repeat;
	height: 5rem;
	width: 5rem;
	float: right;
	margin: 1rem 1rem 0;
}

#nearme-page .ui-content {
	background-color: #ffffff;
	text-align: center;
}

#nearme-page .ui-content ul.ui-listview {
	margin-bottom: 7rem;
}

#nearme-page .ui-content ul.ui-listview li {
	width: 100%;
	height: 10rem;
	position: relative;
	padding: 1rem .8rem;
	border-bottom: 0.2rem solid #555555;
	white-space: normal;
	word-wrap: break-word;
}

#nearme-page .ui-content ul.ui-listview li.ui-li-active {
	background-color: #ebebeb;
}

#nearme-page .ui-content ul.ui-listview li label {
	display: block;
	height: 2;
	text-align: left;
	font-weight: bold;
	color: #06598c;
	white-space: normal;
}

#nearme-page .ui-content ul.ui-listview li label.row1 {
	font-size: 1.8rem;
}

#nearme-page .ui-content ul.ui-listview li label.row3 {
	font-size: 1.8rem;
}

#nearme-page .ui-content ul.ui-listview li .arrow {
	text-align: right;
}

#nearme-page .ui-content ul.ui-listview li .arrow img {
	vertical-align: middle;
}

#nearme-page .ui-content #nearme-loading {
	background: url('../images/background.png') 0 0 repeat;
	width: 100%;
	padding-top: 6rem;
}

#nearme-page .ui-content #nearme-loading .ui-processing {
	background-color: #ebebeb;
}

#nearme-page .ui-content #nearme-loading .ui-processing-text {
	color: #ffffff;
}

#search-page .ui-content {
	background-color: #ffffff;
	text-align: center;
}

#search-page .ui-content #search-title {
	background: url('../images/background.png') 0 0 repeat;
	height: 10rem;
	width: 100%;
	padding-top: 1rem;
	font-size: 2rem;
	text-transform: uppercase;
	line-height: 4rem;
}

#search-page .ui-content #search-input-content {
	width: 95%;
	background-color: #ffffff;
	margin: 9rem 1rem;
	padding: .3rem 1.5rem;
	text-align: left;
}

#search-page .ui-content #search-input-content img {
	vertical-align: middle;
	margin-right: 1rem;
}

#search-page .ui-content #search-input-content input {
	height: 4rem;
	width: 85%;
	vertical-align: middle;
	font-size: 3rem;
	font-weight: bold;
	text-decoration: none;
	border: 0;
}

#search-page .ui-content #search-input-content .input-border {
	position: absolute;
	margin-top: .5rem;
	width: 85%;
	height: .5rem;
	border-left: 0.1rem solid #06598c;
	border-right: 0.1rem solid #06598c;
	border-bottom: 0.1rem solid #06598c;
}

#arriveDetails-page .ui-subheader {
	height: 7rem;
}

#arriveDetails-page .ui-content {
	background-color: #ffffff;
}

#arriveDetails-page .ui-content #arriveDetails-content-arrives-title {
	width: 100%;
	height: 7rem;
	padding: 1rem 1.5rem;
	background-color: #ebebeb;
	color: #757575;
	font-size: 1.6rem;
	font-weight: bold;
	text-transform: uppercase;
}

#arriveDetails-page .ui-content #arriveDetails-content-arrives-title div.row
	{
	height: 3.5rem;
}

#arriveDetails-page .ui-content #arriveDetails-content-arrives-title div.col1
	{
	text-align: left;
}

#arriveDetails-page .ui-content #arriveDetails-content-arrives-title div.col2
	{
	text-align: right;
}

#arriveDetails-page .ui-content ul.ui-listview {
	margin-bottom: 7rem;
}

#arriveDetails-page .ui-content ul.ui-listview li {
	width: 100%;
	height: 8rem;
	position: relative;
	padding: 0 1.5rem;
	border-bottom: 0.2rem solid #ebebeb;
}

#arriveDetails-page .ui-content ul.ui-listview li label {
	display: block;
	color: #06598c;
	height: 4rem;
	font-size: 1.8rem;
	font-weight: bold;
}

#arriveDetails-page .ui-content ul.ui-listview li label.col1 {
	text-align: left;
	font-size: 2rem;
	font-weight: bold;
}

#arriveDetails-page .ui-content ul.ui-listview li label.col2,#arriveDetails-page .ui-content ul.ui-listview li label.col3
	{
	text-align: right;
	font-size: 2rem;
	font-weight: bold;
}

#arriveDetails-page .ui-content ul.ui-listview li label.destination {
	color: #757575;
	font-weight: bold;
}

#arriveDetails-page .ui-content ul.ui-listview li.ui-li-active {
	background-color: transparent;
}