@import '_reset.less';

@white : #fff;
@black : #000;
@gray: #ebebeb;
@darkgray: #757575;
@darkergray: #555555;
@blue: #06598c;
@lightblue: #33b5e5;
@darkblue: #002136;

@bg : @white;

@imgpath : '../images';

/*
Tiny (24pt)
Small (30pt)
Medium (34pt)
Large (38pt)
*/


.font-emt() {
	font-family: Verdana, Lucida Sans, Arial, Helvetica, sans-serif;
}

html{
	font-size: 10px;
	.font-emt();
}

html,body{
	height: 100%;
	min-height: 100%;
}

body {
    margin: 0px auto;
	background-color: transparent; /* url('@{imgpath}/bgtop.png') center top repeat-x; */
}

.ui-page {
	background-color: @black;
}

.ui-popup{
	top:3rem !important;
	width: 80%;
	border: .3rem solid @lightblue;

	.ui-popup-header{
		background-color: @darkblue;
		color: @white;
		font-size: 2.5rem;
		line-height: 4rem;
	}
	.ui-popup-content{
		padding: 3rem 1.6rem;
		background: url('@{imgpath}/background.png') 0 0 repeat;
		background-size: contain;
		color: @white;
		text-align: center;
		font-size: 3rem;
		line-height: 4rem;
	}
	.ui-btn{
		background-color: @darkblue;
	}
}
.ui-loading {
	@color: @blue;

	padding-top: 6rem;
	
	.ui-processing {
		background-color: @color;
	}
	.ui-processing-text {
		color: @color;
		font-size: 2rem;
		padding: 0 1.6rem;
		width: 100% !important;
	}
}
.ui-error {
	@color: @blue;

	.ui-subheader {
		@height : 7rem;
		@width : 100%;

		width:@width;
		height: @height;
		background-color: @darkblue;

		.ui-subheader-text {
			position: absolute;
			display: table-cell;
			vertical-align: middle;
			top:-1rem;
		 	margin-top: @height;
			line-height: @height;
			min-height: @height;
			font-size: 2.5rem;
			font-weight: bold;
			padding-left: 1.6rem;
			padding-right: .8rem;
		}

		.separator {
			position: absolute;
			width:@width;
		 	height:.3rem;
		 	margin-top: @height;
			background-color: @lightblue;
		}
	}

	.ui-error-title {
		margin: 0 auto;
		color: @color;
		font-size: 3rem;
		font-weight: bold;
		padding-top: 2rem;
		text-transform: uppercase;
		text-align: center;
	}
	.ui-error-text {
		margin: 2rem auto;
		color: @color;
		font-size: 2rem;
		line-height: 3rem;
		padding: 0 1.6rem;
		text-align: center;
	}
	.ui-error-btn {
		width: 95%;
		margin: 0 auto;
	}
}

.ui-btn {
	color: @white;
	font-size: 3rem;
	background-color: @darkblue;
	border: 0px transparent !important;
	text-transform: uppercase;

	.ui-btn-icon {
		background-size: auto;
	}

	&:enabled:active:hover {
		background-color: @blue;
	}

	&:active{
		-webkit-transform:scale(.95);
		transform:scale(.95);
	}

	&:disabled {
		transform:scale(1);
	}
}

/**********************************/
/**************HEADER**************/
/**********************************/
.ui-header {
	@height: 6rem;

	max-height: 6rem;
	min-height: 6rem;
	background-color: @bg;
	color: @blue;

	.ui-grid-col-3 {
		width: 100%;
		height: 100%;	

		.emt-header-left {
			padding-left: 1.6rem;
			height: 100%;	

			.title-time {
				font-size: 3rem !important;
				font-weight: bold;
			}
		}

		.emt-header-center {
			text-align: center;
			height: 100%;	

			.emt-header-center-icon {
				position: absolute;
				height: 10rem;
				width: 12rem;
				top:-1rem;
				background-color: @bg;
				border-radius: 10rem;

				img {
					position: relative;
					top: 2rem;
				}
			}

			img {
				position: relative;
				top: 1rem;
			}

			#home-title-icon {
				height: 6rem;
			}
			#stops-title-logo, #nearme-title-logo, #search-title-logo, #arriveDetails-title-logo {
				height: 2.5rem;
			}
		}

		.emt-header-right {
			padding-right: .8rem;
			height: 100%;	
		
			.title-date {
				font-size: 1.8rem !important;
				float:right;
			}
		}
	}
}


.ui-subheader {
	@height : 7rem;
	@width : 100%;

	width:@width;
	height: @height;
	background-color: @darkblue;

	.ui-subheader-text {
		position: absolute;
		display: table-cell;
		vertical-align: middle;
		top:-1rem;
	 	margin-top: @height;
		line-height: @height;
		min-height: @height;
		font-size: 2.5rem;
		font-weight: bold;
		padding-left: 1.6rem;
		padding-right: .8rem;
	}

	.separator {
		position: absolute;
		width:@width;
	 	height:.3rem;
	 	margin-top: @height;
		background-color: @lightblue;
	}
}

.ui-content {
	background-color: @bg;
}

.contents {
	display: flex;
	display: -webkit-flex;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	
	background-color: @bg;

	.content-padding {
		padding-left: 1.6rem;
		padding-right: .8rem;
	}
	
	.content_text {
		font-weight:bold;
		font-size:5em;
	}
}

.ui-footer {

	.ui-btn{		
		text-transform: uppercase;
		
		&:active{
			-webkit-transform:scale(1);
			transform:scale(1);
		}
		&:enabled:active:hover {
			background-color: @lightblue;
		}
	}
}

#main-page {
	.ui-content {
		background: url('@{imgpath}/background.png') 0 0 repeat;
		background-size: contain;

		.ui-grid-col-2 {
			height: 100%;
			width: 100%;
			padding-top: 3rem;
		}

		.ui-grid-col-2 .ui-btn {
			background-color: transparent;
		}
		.ui-grid-col-2 .ui-btn.ui-btn-icon {
			height: 20rem;
		}
		
		.ui-grid-col-2 .ui-btn-text {
			font-size: 3rem;
			text-align: center
		}
		
		#emt-navi-stops {
	
			&.disabled {
				color: #89b5d1;
			}

			#emt-navi-stops-btn {
				background-image: url('@{imgpath}/stops_btn.png');
			}
			#emt-navi-stops-btn.disabled {
				background-image: url('@{imgpath}/stops_disabled_btn.png');
			}
		}
		#emt-navi-arrives {
			#emt-navi-arrives-btn {
				background-image: url('@{imgpath}/time_btn.png');
			}
		}
	}
		
}

#stops-page {
	.ui-content {	
		ul.ui-listview{
			margin-bottom: 7rem;

			li{
				@height: 10rem;

				width:100%;
				height:@height;
		        position: relative;
		        padding: 0;
		        border-bottom: .2rem solid @darkergray;
		        white-space: normal;
		        word-wrap:break-word; 

				&.ui-li-active {
					background-color: @gray;
				}

				&.disabled ,&.disabled > * {
					background-color: @darkgray;
				}

		        label {
		        	display: block;
		        	height: @height;
					color: @blue;
					font-size: 2rem;
					padding-left: 8rem;
					padding-right: .8rem;
					white-space: normal;

			        input[type="radio"] {
			        	position: absolute;
			        	margin-left: -6.5rem;
			        	margin-top:2rem;
				        background-color: @white;
					}
					input[type="radio"]:disabled {
			           background-color: @darkgray;
					}
					input[type=radio]:checked::before {
						background-color: @lightblue;
					}
					
					span{
						display: table-cell;
						height: @height;
						vertical-align: middle;
						white-space: normal;
					}				
		        }
			}
		}
	}
}

#nearme-page {
	.ui-subheader {
		#nearme-navi-search {
			background: url('@{imgpath}/search_header_btn.png') center center no-repeat;
			height: 5rem;
			width: 5rem;
			float: right;
			margin: 1rem 1rem 0;
		}

	}

	.ui-content {
		background-color: @white;
		text-align: center;

		ul.ui-listview{
			margin-bottom: 7rem;
		
			li{
				@height: 10rem;

				width:100%;
				height:@height;
		        position: relative;
		        padding: 1rem .8rem;
		        border-bottom: .2rem solid @darkergray;
		        white-space: normal;
		        word-wrap:break-word; 

				&.ui-li-active {
					background-color: @gray;
				}

		        label {
		        	display: block;
		        	height: 2;
		        	text-align: left;
					font-weight: bold;
					color: @blue;
					white-space: normal;

					&.row1 {
						font-size: 1.8rem;
			       	}
			       	&.row3 {						
						font-size: 1.8rem;
					}			
		        }

				.arrow {
					text-align: right;

					img {
						vertical-align: middle;
					}
		        }
			}
		}

		#nearme-loading {
			background: url('@{imgpath}/background.png') 0 0 repeat;
			width:100%;
			padding-top: 6rem;

			.ui-processing {
				background-color: @gray;
			}
			.ui-processing-text {
				color: @white;
			}
		}
	}
}

#search-page {
	.ui-content {
		background-color: @white;
		text-align: center;

		#search-title {
			background: url('@{imgpath}/background.png') 0 0 repeat;
			height:10rem;
			width:100%;
			padding-top: 1rem;
			font-size:2rem;
			text-transform: uppercase;
			line-height: 4rem;
		}

		#search-input-content
		{
			@height: 4rem;

			width: 95%;
			background-color: @white;
			margin: 9rem 1rem;
			padding: .3rem 1.5rem;
			//border-bottom: .1rem solid @lightblue;
			text-align: left;

			img {
				vertical-align: middle;
				margin-right: 1rem;
			}
			input {
				height: @height;
				width: 85%;
				vertical-align: middle;
				font-size:3rem;
				font-weight: bold;
				text-decoration: none;
				border: 0;
			}

			.input-border {
				position: absolute;
				margin-top: .5rem;
				width:85%;
			 	height:.5rem;
			 	border-left: .1rem solid @blue;
			 	border-right: .1rem solid @blue;
			 	border-bottom: .1rem solid @blue;
			}
		}
	}
}

#arriveDetails-page {
	@height : 7rem;

	.ui-subheader {
		height: @height;
	}

	.ui-content {
		background-color: @white;

		#arriveDetails-content-arrives-title {
			width: 100%;
			height: @height;
			padding: 1rem 1.5rem;
			background-color: @gray;
			color: @darkgray;
			font-size: 1.6rem;
			font-weight: bold;
			text-transform: uppercase;
			
			div.row {
				height: @height/2;
			}
			div.col1 {
				text-align: left;
			}
			div.col2 {
				text-align: right;
			}

		}

		ul.ui-listview {
			margin-bottom: 7rem;

			li {
				@height: 8rem;

				width:100%;
				height:@height;
		        position: relative;	        
				padding: 0 1.5rem;
		        border-bottom: .2rem solid @gray;

				label {
		        	display: block;
					color: @blue;
					height: @height/2;
					font-size: 1.8rem;
					font-weight: bold;
		        }

				label.col1 {
					text-align: left;
					font-size: 2rem;
					font-weight: bold;
				}
				label.col2, label.col3 {
					text-align: right;
					font-size: 2rem;
					font-weight: bold;
				}

				label.destination {
					color: @darkgray;
					font-weight: bold;
		        }

		        &.ui-li-active {
					background-color: transparent;
				}
		    }
		}
	}
}

.ui-footer {
	@height : 8.5rem;

}