<li class="search-arrive-lap-row ui-grid-row-2">
	<div class="ui-grid-col-3">
		<label class="col1">{{line}}</label>
		<label class="col2">{{firstTimeLeft}}</label>
		<label class="col3">{{secondTimeLeft}}</label>
	</div>
	<div>
		<label class="destination">{{destination}}</label>	
	</div>
</li>