<li class="nearme-lap-row ui-grid-row-3" id="nearme_{{stopId}}">
	<div><label class="row1">Parada Nº {{stopId}}</label></div>
	<div class="arrow"><img src="images/arrow.png"></img></div>
	<div><label class="row3">{{name}}</label></div>	
</li>