<li class="stop-lap-row {{status}}" id="stop_{{code}}">
	<label>
	    <input type="radio" {{status}} name="radio-stop" id="stop_{{code}}_checkbox" {{checked}}/>
		<span>{{name}}</span>
    </label>
</li>